# Data Handling and Numerics
pandas
numpy

# Visualization (for EDA & Creative Plots)
matplotlib
seaborn

# Project Utilities 
pyyaml  # For configuration files if you create them

# # Modeling, DVC, Stats
dvc
scipy
statsmodels
scikit-learn
xgboost